extends layout
block content
  h1= title
  form(id='QueenForm', action="/resource/queens", method="POST")
    div.form-group
      label.queenAttr(for='queen_name') Queen Name
      input#queen_name(type='text', name='queen_name')
    div.form-group
      label.queenAttr(for='queen_country') Queen country
      input#queen_country(type='text', name='queen_country')
    div.form-group
      label.queenAttr(for='networth') Queen networth
      input#networth(type='number', name='networth')
    input(type="submit")
  script.
    document.forms['QueenForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });