body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.queenAttr {
  background-color: aquamarine;
  width: 120px;
}

.queenAttr:hover {
  text-shadow:3px 3px 6px green;
  font-style:oblique;
  background-color: whitesmoke;
  font-family:'Courier New', Courier, monospace;
  box-shadow: 10px 5px 5px lightgreen;
}
